<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Date </h2>
            </div>
            <div class="card-body">
                <span class="text-primary">Using (shortTime) pipe</span>
                <p>{{valuedate | date:'shortTime'}}</p>
                <span class="text-primary">Using (fulldate) pipe</span>
                <p>{{ valuedate | date: 'fullDate' }}</p>
                <span class="text-primary">Using (d/m/y) pipe</span>
                <p>{{ valuedate | date: 'd/M/y' }}</p>
                <span class="text-primary">Using (medium) pipe</span>
                 <p>{{valuedate | date:'medium'}}</p> 
                 <span class="text-primary">Using (long) pipe</span>
                 <p>{{valuedate | date:'long'}}</p> 
                 <span class="text-primary">Using (longDate) pipe</span>
                 <p>{{valuedate | date:'longDate'}}</p> 
                 <span class="text-primary">Using (mediumTime   ) pipe</span>
                 <p>{{valuedate | date:'mediumTime'}}</p> 
                 <span class="text-primary">Using (shortTime) pipe</span>
                 <p>{{valuedate | date:'shortTime'}}</p> 

                 <h3>{{title | custompipe}}</h3>
            </div>
        </div>
    </div>
</div>