<!-- <div *ngFor="let item of products">
  <span > Id :{{item.id}}</span>
  <span >name{{item.name}}</span>
  <span> {{item.title}}</span>
  
 </div> -->
 <table class="table " *ngFor="let item of products" >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Email</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>@{{item.email}}</td>
    </tr>
  </tbody>
 </table>
 <div>

 <form  #userForm="ngForm" (ngSubmit)="userdata(userForm.value)">
   <input type="text" name="name" ngModel placeholder="name">
   <br>
   <input type="text" name="email" ngModel placeholder="email">
   <br>
   <button>add data</button>
    <button (click)="deletedata()">delete</button>
  </form>
</div> 
<router-outlet></router-outlet>
