<!-- <header>
  <nav>
    <ul class="nav nav-tabs bg-dark">
      <li class="nav-item"><a href="" class="nav-link"  routerLink="/templateform" routerLinkActive="active"  >Login</a></li>
      <li class="nav-item"><a href="" class="nav-link" routerLink="/register"  routerLinkActive="active" >Register</a></li>
     </ul>
  </nav> -->
  
  <header>
    <nav>
      <ul class="nav nav-tabs bg-dark">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" > login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" > register</a></li>
      </ul>
    </nav>
  </header>
  
<router-outlet></router-outlet>