<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 mt-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{product}}</h3>
                    </div>
                    <div class="card-text">
                        <p>hii this is first servies use</p>
                    </div>
                    <button (click)="btncall()" class="btn btn-success">submit</button>
                </div>

            </div>

        </div>
        <div class="row-sm-4 mt-3">
            <button class="btn btn-danger" (click)="showdata()">load content</button>
        </div>
       

    </div>
</div>
